<!-- {% extends 'japtuneapp/base.html' %} -->
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'honda/css/style.css' %}"> -->
    <!-- <script src="{% static 'japtuneapp/js/script.js' %}" defer></script> -->
    <!-- <link rel="stylesheet" href="{% static 'honda/bootstrap-5.3.3-dist/css/bootstrap.css' %}"> -->
    <!-- <script src="{% static 'japtuneapp/js/jquery-3.7.1.min.js' %}" defer></script> -->
    <title>Details</title>
</head>
<body>
    <main>
        <h1>Характеристики:</h1>
        <h4>Довжина: 4425 мм</h4>
        <h4>Ширина:	1810 мм</h4>
        <h4>Висота	1170 мм</h4>
        <h4>Маса: 1230 кг</h4>
        <h4>Об'єм баку: 70л</h4>
        <h4>Максимальна швидкість: 270 км/год</h4>
        <h4>Розгін від 0 до 100: 5.2 с</h4>
        <h4></h4>
        <h4></h4>
        <h4></h4>
        <h4></h4>
        <h4></h4>
        <h4></h4>
    </main>
</body>
</html>
