{% extends 'japtuneapp/base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'honda/css/style.css' %}">
    <script src="{% static 'japtuneapp/js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'honda/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <script src="{% static 'japtuneapp/js/jquery-3.7.1.min.js' %}" defer></script>
    <title>Mazda</title>
</head>
<body>
    <main style="background-color: 2c2c2c;">
        <div class="row col-12 mt-5 mb-5">
            <div class="container col-2">
                <div>
                    <img src="{% static 'partnersapp/img/.png' %}" alt="toyotires">
                </div>
            </div>
            <div class="container col-2">
                <div>
                    <a href=""><img src="{% static 'partnersapp/img/mahle.png' %}" alt="mahle"></a>
                </div>
            </div>
            <div class="container col-2">
                <div>
                    <img src="{% static 'partnersapp/img/motul.png' %}" alt="motul">
                </div>
            </div>
            <div class="container col-2">
                <div>
                    <img src="{% static 'partnersapp/img/hks.png' %}" alt="hks">
                </div>
            </div>
            <div class="container col-2">
                <div>
                    <img src="{% static 'partnersapp/img/nos.png' %}" alt="nos">
                </div>
            </div>
            <div class="container col-2">
                <div>
                    <img src="{% static 'partnersapp/img/ngk.png' %}" alt="ngk">
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}
</html>
