*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* padding-top: 5px; */
    display: flex;
    background-color: black;
    align-items: center;
    height: 80px;
    color: white;
    border-bottom: 0.1em solid;
    border-color: white ;
}

/* .header_logo{
    margin-left: 100%;
} */

/* #registration{
    right: 5%;
} */

header a{
    padding-top: 10px;
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    align-items: center;
    justify-content: center;


}

body header div a:hover{
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
    text-decoration: underline;
}

header img{
    padding-left: 50%;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* #links{
    display: flex;
    justify-content: space-between;
    left: 95px;
} */

body main h1 {
    display: flex;
    size: 100px;

}

.main-but{
    display: flex;
    justify-content: space-around;
}

body main{
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.text_in_main_page{
    color: white;
}

#bg{
    background: url('{% static "japtuneapp/img/bg.jpg" %}') center, center/over, no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

}

.button{
    border-radius: 20px;
    width: 300px;
    height: 80px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    transition: all 0.3s ease;

}


.button:hover {
    transition: all 0.1s ease-in;
    border: 1px solid rgb(2, 102, 220);
    font-weight: 500;
}

.button:active {
    transition: all 0.1s;
    transform: scale(0.9);
}

main div {
    margin: 20px;
}

#JapTuneCo{
    display: flex;
    font-size: 40px;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}
#header_left_side{
    width: 90%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-top: 0.1em solid;
    border-color: white ;
}
#footer_1{
    display: grid;
    width: 35%
}

#footer_2{
    display: grid;
    width: 30%;
}

.logofooter{
    height:50px;
    width: 50px;
}

/* .logofooterclass{
    /* width:20%; */

.logoandtext{
    height: 50%;
    width: 15%;
}


footer div a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600;

}

footer div a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

footer #footer_1 {
    width: 315px;
}

body header .burger_menu_links .container #rows #col3 .row a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
body header .burger_menu_links .container #rows #col4 .row a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
body header .burger_menu_links .container #rows .col-4 .row a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
body header .burger_menu_links a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

.logofooterclass{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#ig{
    width: 65px;
    height: 65px;
}
#yt{
    width: 65px;
    height: 65px;
}

body header .burger_menu_links .container #row1 .col a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

body header .burger_menu_links .container #rows .col-3 a img {
    width: 50px;
}

body header .burger_menu_links .container #rows {
    align-items: center;
    justify-content: center;
}

body footer .logofooterclass a img {
    width: 50px;
}

body main #buttons .main-but .button {
    text-decoration: none;
}

.checkbox-wrapper-33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #5f11e8;
    --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
    --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
  }

  .checkbox-wrapper-33 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .checkbox-wrapper-33 .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
  }

  .checkbox-wrapper-33 .checkbox + .checkbox {
    margin-top: var(--s-small);
  }

  .checkbox-wrapper-33 .checkbox__symbol {
    display: inline-block;
    display: flex;
    margin-right: calc(var(--s-small) * 0.7);
    border: var(--border-width) solid var(--c-primary);
    position: relative;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out),
      background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
  }

  .checkbox-wrapper-33 .checkbox__symbol:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
  }

  .checkbox-wrapper-33 .checkbox .icon-checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
  }

  .checkbox-wrapper-33 .checkbox .icon-checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
  }

  .checkbox-wrapper-33 .checkbox__textwrapper {
    margin: 0;
  }

  .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
    animation: ripple-33 1.5s var(--e-out);
  }

  .checkbox-wrapper-33
    .checkbox__trigger:checked
    + .checkbox__symbol
    .icon-checkbox
    path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0px;
  }

  .checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
  }

  @-webkit-keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: scale(20);
    }
  }

  @keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: scale(20);
    }
  }
