{% extends 'japtuneapp/base.html' %}

{% load static %}
{% block content %}
<html langred !important;>
<head>

    <title>Оберіть марку</title>
    <link rel="stylesheet" href="{% static 'markschoiceapp/css/markschoiceapp.css' %}">
    <!-- <script src="{% static 'japtuneapp/js/script.js' %}" defer></script> -->
    <link rel="stylesheet" href="{% static 'japtuneapp/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <script src="{% static 'japtuneapp/js/jquery-3.7.1.min.js' %}" defer></script>

</head>

<body style="background-color: 2c2c2c;">

    <main>
        <div class="main justify-content-center">
            <div id = "select">
                <h1>Оберіть марку машини:</h1>
            </div>
            <div id="div1" style="margin-left: 50px;">
                <a href="{% url 'mazda' %}" id = "mazda" style="width: 350px;"><img class="img" src="{% static 'markschoiceapp/img/mazda.png' %}" alt="mazda"> </a>
                <a href="{% url 'subaru' %}" id = "subaru"><img class="img" src="{% static 'markschoiceapp/img/subaru.png' %}" alt="subaru"> </a>
                <a href="{% url 'toyota' %}" id = "toyota"><img class="img" src="{% static 'markschoiceapp/img/toyota.png' %}" alt="toyota"> </a>
                </div>
            <div id="div2">
                <a href="{% url 'nissan' %}" id = "nissan"><img src="{% static 'markschoiceapp/img/nissan.png' %}" alt="nissan"> </a>
                <a href="{% url 'honda' %}" id = "honda"><img src="{% static 'markschoiceapp/img/honda.png' %}" alt="honda"> </a>
            </div>
    </div>
    </main>
    {% endblock %}
</body>
</html>

