

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



header{
    display: flex;
    background-color: black;
    align-items: center;
    height: 80px;
    color: white;
    border-bottom: 0.1em solid;
    border-color: white ;
}

header a{
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    align-items: center;
    justify-content: center;


}

body header div a:hover{
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
    text-decoration: underline;
}

header img{
    display: flex;
    align-items: center;
    justify-content: center;
}

body main h1 {
    display: flex;
    size: 100px;
}

.main-but{
    display: flex;
    justify-content: space-around;
}

.cards{
    display: flex;
    flex-direction: row;
}

body main{
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-between;
}

.text_in_main_page{
    color: white;
}

#bg{
    background: url('{% static "japtuneapp/img/bg.jpg" %}') center, center/over, no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.button{
    border-radius: 20px;
    width: 300px;
    height: 80px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    transition: all 0.3s ease;
}


.button:hover {
    transition: all 0.1s ease-in;
    border: 1px solid rgb(2, 102, 220);
    font-weight: 500;
}

.button:active {
    transition: all 0.1s;
    transform: scale(0.9);
}

main div {
    margin: 20px;
}

#carousel{
    margin-right: 75px;
}

#JapTuneCo{
    display: flex;
    font-size: 40px;
    align-items: center;
    margin-right: 30%;
    margin-bottom: 5%;
}
#header_left_side{
    width: 90%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-top: 0.1em solid;
    border-color: white ;
}
#footer_1{
    display: grid;
    width: 35%
}

#footer_2{
    display: grid;
    width: 30%;
}

.logofooter{
    height:50px;
    width: 50px;
}

.logoandtext{
    height: 50%;
    width: 15%;
}

footer div a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600;
}

footer div a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

footer #footer_1 {
    width: 315px;
}

body header .burger_menu_links .container #rows #col3 .row a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
body header .burger_menu_links .container #rows #col4 .row a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
body header .burger_menu_links .container #rows .col-4 .row a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
body header .burger_menu_links a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

.logofooterclass{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#ig{
    width: 65px;
    height: 65px;
}
#yt{
    width: 65px;
    height: 65px;
}

#texth1{
    justify-content: center;
}

body header .burger_menu_links .container #row1 .col a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

body header .burger_menu_links .container #rows .col-3 a img {
    width: 50px;
}

body header .burger_menu_links .container #rows {
    align-items: center;
    justify-content: center;
}

body footer .logofooterclass a img {
    width: 50px;
}

body main #buttons .main-but .button {
    text-decoration: none;
}

.checkbox-wrapper-33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #5f11e8;
    --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
    --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
  }

  .checkbox-wrapper-33 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .checkbox-wrapper-33 .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
  }

  .checkbox-wrapper-33 .checkbox + .checkbox {
    margin-top: var(--s-small);
  }

  .checkbox-wrapper-33 .checkbox__symbol {
    display: inline-block;
    display: flex;
    margin-right: calc(var(--s-small) * 0.7);
    border: var(--border-width) solid var(--c-primary);
    position: relative;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out),
      background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
  }

  .checkbox-wrapper-33 .checkbox__symbol:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
  }

  .checkbox-wrapper-33 .checkbox .icon-checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
  }

  .checkbox-wrapper-33 .checkbox .icon-checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
  }

  .checkbox-wrapper-33 .checkbox__textwrapper {
    margin: 0;
  }

  .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
    animation: ripple-33 1.5s var(--e-out);
  }

  .checkbox-wrapper-33
    .checkbox__trigger:checked
    + .checkbox__symbol
    .icon-checkbox
    path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0px;
  }

  .checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
  }

  @-webkit-keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: scale(20);
    }
  }

  @keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: scale(20);
    }
  }

  body {
    background-color: #2C2C2C;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card-main {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card-main:hover {
    transform: scale(1.025);
}

.card-main img {
    width: 90%;
    border-radius: 10px;
}

.card-main h4 {
    color: #EDEDED;
    transition: color 0.3s, text-decoration 0.3s;
}

.card-main p {
    color: #EDEDED;
}

.card-main hr {
    border-color: white;
    border: 0.1em solid;
}

.card-main h4:hover {
    color: rgb(2, 102, 220);
    text-decoration: underline;
}


.partners-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #EDEDED;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    height: 100vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partners-card:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.partners-card h1 {
    margin-bottom: 30px;
}

.partners-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.partners-logos img {
    max-width: 150px;
    max-height: 100px;
}

.button_partners {
    background-color: rgb(0, 91, 196);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button_partners:hover {
    background-color: #014890;
}

body {
    background-color: #2C2C2C;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-main {
    background-color: #333;
    border-radius: 10px;
    width: 95%;
    color: #dedede;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.partner-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.map-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-map, .card-stats {
    background-color: #333;
    border-radius: 10px;
    color: #dedede;
    margin: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;

}

.card-equal-height {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title,
.card-text {
    color: #dedede;
}

.card-stats {
    width: 70%;
}
