.card-body{
    width: 416px;
    height: 264px;
}

#vacancies-name{
    color: #DEDEDE;
    font-size: 35px;
}

#vacancy_body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 2c2c2c;
}

#form-container {
    width: 30%;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-floating {
    margin-bottom: 15px;
}

.btn-primary {
    align-self: self-end;
    margin-top: 15px;
    padding: 10px 20px;
}

#card .card-body {
    width: 100%;
}

#card_vacancy{
    margin-right: 100px;
}

.card-body{
    color: black;
}

#salary{
    font-size: 17px;
    color: black;
    font-weight: bolder;
}

.card-title{
    color: black;
    font-size: 25px;
}

.card-text{
    color: black;
}
