*{
    color: white;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.img{
    margin-right: 100px;
}

#select{
    display: flex;
    justify-content: center;
}

#div1{
    display: flex;
    justify-content: center;
    margin: 50px;
}
#div2{
    display: flex;
    justify-content: center;
    position:relative;
    right:20px;
}
	