*{
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-right: 100px;
    display: flex;
    background-color: black;
    align-items: center;
    height: 80px;
    color: white;

}
#JapTuneCo{
    display: flex;
    font-size: 40px;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}
/* .header_logo{
    margin-left: 100%;
} */

/* #registration{
    right: 5%;
} */

header a{
    padding-top: 10px;
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;


}
header img{
    padding-left: 50%;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;


}
#header_left_side{
    width: 90%;
}

.main-c{
    padding-top: 5%;
}


#select{
    padding-left: 2%;
    display: flex;
    justify-content: center;

}

#marks1{
    padding-left: 10%;
    display: flex;
    justify-content: center;

    padding-top: 8%;
}

#marks2{
    padding-left: 10%;
    display: flex;
    justify-content: center;
    padding-top: 2%;

}

#img-1{
    height: 125px;
    width: 150px;
    margin-right: 150px;
}
#img-2{
    height: 125px;
    width: 175px;
    margin-right: 150px;
}
/* main{
    background-color: 2c2c2c;
} */
