main  {
    background-color: 2c2c2c;
    height: 100%;
}

/* header{
    background-color: 2c2c2c;

} */

body{

    background-color: 2c2c2c;

}

body main div {
    display: grid;

}
.error-text{
    color: rgb(91, 91, 91);
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    width: 270px;
    flex-wrap: wrap;
}

#popup {
    opacity: 0;
    width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: fixed;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:opacity 0.5s;
    text-align: center;
    justify-content: center

}

#popup.active {
    opacity: 1;
    justify-content: center
}

#bg{
    transition:all 0.5s;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-color: black;
}

#bg.active {
    opacity: 50%;
    visibility:visible ;
}
