{% extends 'japtuneapp/base.html' %}

{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас</title>
    <link rel="stylesheet" href="{% static 'about_us/css/style.css' %}">
    <style>
        body {
            font-family: "K2D", sans-serif;
        }
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
        .card {
            background-color: #333;
            border-radius: 10px;
            margin: 10px;
            padding: 20px;
            color: #dedede;
            width: calc(50% - 40px); /* Two cards per row with margin */
            box-sizing: border-box;
        }
        @media (max-width: 768px) {
            .card {
                width: calc(100% - 40px); /* One card per row for smaller screens */
            }
        }
    </style>
</head>
<body>
    <main>
        <div class="card align-items-center">
            <h1 class="mt-4">Про Нас</h1>
            <div id = "text_card">
                <p class="mt-5 p-4">
                    Ласкаво просимо до нашої автомайстерні! Наша автомайстерня – це місце, де автомобілі отримують найвищий рівень обслуговування і догляду. Ми пишаємося тим, що можемо запропонувати своїм клієнтам надійні та професійні послуги з ремонту та технічного обслуговування автомобілів.
                </p>
            </div>
        </div>
        <div class="card align-items-center">
            <h1 class="mt-4">Хто ми?</h1>
            <div id = "text_card">
            <p class="mt-5 p-4">
                Ми – команда висококваліфікованих фахівців з багаторічним досвідом роботи в сфері автосервісу. Кожен з наших механіків має не лише необхідні знання, але й справжню пристрасть до автомобілів. Ми розуміємо, наскільки важливо мати справний автомобіль, тому працюємо швидко, ефективно і з увагою до деталей.
            </p>
            </div>
        </div>
        <div class="card align-items-center">
            <h1 class="mt-4">Наша Місія</h1>
            <div id = "text_card">
                <p class="mt-5 p-4">
                    Наша місія – забезпечити вам найкращий сервіс і зробити все можливе, щоб ваш автомобіль працював бездоганно. Ми прагнемо створити атмосферу довіри та комфорту для кожного клієнта, адже ваша задоволеність – наш головний пріоритет.
                </p>
            </div>
        </div>
        <div class="card align-items-center">
            <h1 class="mt-4">Чому обирають нас?</h1>
            <div id = "text_card">
                <p class="mt-4"><strong>Професіоналізм:</strong> Наші спеціалісти постійно вдосконалюють свої навички та знання, слідкуючи за новітніми технологіями та методами ремонту.</p>
                <p class="mt-4"><strong>Якість:</strong> Ми використовуємо лише високоякісні запчастини та матеріали, щоб гарантувати довговічність і надійність кожного ремонту.</p>
                <p class="mt-4"><strong>Чесність:</strong> Ми завжди відкриті та чесні з нашими клієнтами. Ви завжди знаєте, за що платите, і можете бути впевнені в адекватності наших цін.</p>
                <p class="mt-4"><strong>Зручність:</strong> Наша автомайстерня зручно розташована, а наші послуги включають все необхідне для комфортного обслуговування вашого автомобіля.</p>
            </div>
        </div>
        <div class="card mb-5 align-items-center">
            <h1 class="mt-4">Наші Послуги</h1>
            <div id = "text_card">
                <p class="mt-4">Комплексне технічне обслуговування</p>
                <p class="mt-4">Діагностика та ремонт двигуна</p>
                <p class="mt-4">Ремонт ходової частини</p>
                <p class="mt-4">Заміна масла та фільтрів</p>
                <p class="mt-4">Шиномонтаж та балансування коліс</p>
                <p class="mt-4">Ремонт електроніки та електрики автомобіля</p>
                <p class="mt-4">Підготовка автомобіля до технічного огляду</p>
            </div>
        </div>
        <div class="card mb-5 align-items-center">
            <h1 class="mt-4">Наші Цінності</h1>
            <div id = "text_card">
                <p class="mt-5"><strong>Повага:</strong> Ми цінуємо кожного клієнта і ставимося до вашого автомобіля з такою ж турботою, як до власного.</p>
                <p class="mt-5"><strong>Відповідальність:</strong> Ми несемо відповідальність за якість нашої роботи і завжди готові відповісти на ваші питання.</p>
                <p class="mt-5"><strong>Інновації:</strong> Ми постійно оновлюємо наші знання і обладнання, щоб відповідати найвищим стандартам у сфері автосервісу.</p>
            </div>
        </div>
    </main>
</body>
{% endblock %}
</html>
