{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'japtuneapp/css/style.css' %}">
    <script src="{% static 'japtuneapp/js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'japtuneapp/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <script src="{% static 'japtuneapp/js/jquery-3.7.1.min.js' %}" defer></script>
</head>
<body>

    <header >
        <div class="container">
            <div id = "links" class="row">
                <div class="col-1">
                    <img src="{% static 'japtuneapp/img/logo.jpg' %}" alt="logo" class="header_logo" height="70 px">
                </div>

                <div class="col-3 link">
                    <a href="{% url 'main' %}" id = "JapTuneCo" class="header_logo">JapTune Co.</a>
                </div>

                <div class = 'col-2 link'>
                    <a href="{% url 'about_us' %}">Про нас</a>
                </div>

                <div class="col-2 link">
                    <a href="{% url 'contact_us' %}">Зв'язок</a>
                </div>
                <div class="col-2 link">
                    <a href="{% url 'vacancies' %}">Вакансії</a>
                </div>

                <div class="col-1 align-items-center">
                    <img src="{% static 'japtuneapp/img/imgregistration.png' %}" id="login_img" alt="" height="50px">
                </div>

                <div class="col-1">
                    {% if user.is_authenticated %}
                        <a style="text-align: center; font-size: 30px; padding-top: 13px;" href="{% url 'logout_user' %}">{{ user.username }}</a>
                    {% else %}
                        <a href="{% url 'login' %}">Увійти</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <img src="{% static 'japtuneapp/img/logofooter.png' %}" alt="logoandtext" class="logoandtext">
        <div class = "logofooterclass">
            <a href="https://www.facebook.com/profile.php?id=61560198481722"><img src="{% static 'japtuneapp/img/facebookfooter.png' %}" alt=""></a>
            <a href="https://www.youtube.com/channel/UCltZrRPvTu0EuzPTxusPzWg"><img src="{% static 'japtuneapp/img/youtubefooter.png' %}" alt=""></a>
            <a href="https://www.instagram.com/japtun3/"><img src="{% static 'japtuneapp/img/instafooter.png' %}" alt=""></a>
            <a href="https://x.com/JapTune"><img src="{% static 'japtuneapp/img/twitterfooter.png' %}" alt=""></a>
            <a href="https://www.linkedin.com/in/japtune-corp-93b45b310/"><img src="{% static 'japtuneapp/img/linkedinfooter.png' %}" alt=""></a>
        </div>
        <div id = "footer_1">
            <a href="{% url 'excursions' %}">Екскурсії</a>
            <a href="{% url 'vacancies' %}">Шукаємо спеціалістів</a>
            <a href="{% url 'our_works' %}">Наші роботи</a>
        </div>
        <div id = "footer_2">
            <a href="{% url 'our_address' %}">Наша адреса</a>
            <a href="{% url 'contact_us' %}">Зв'язок з нами</a>
        </div>
    </footer>

</body>
</html>
