{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Машини Honda</title>
    <link rel="stylesheet" href="{% static 'japtuneapp/css/style.css' %}">
    <script src="{% static 'japtuneapp/js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'japtuneapp/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <script src="{% static 'japtuneapp/js/jquery-3.7.1.min.js' %}" defer></script>
</head>
<body>
    <main>
        <div class = "card">
            <img src="" class="card-img-top" alt="car img">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <a href="" class="btn btn-primary"></a>
            </div>
        </div>
    </main>
</body>
</html>

