#text{
    padding: 50px;
    width: 700px;
    height: 600px;
    background-color: #333;
    border-radius: 10px;
}

#map{
    width: 900px;
    height: 670px;
    padding: 50px;
}

#info{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

main{
    width: 100%;
}
